# Google
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
GOOGLE_AI_MODEL='gemini-2.5-flash-lite'

# OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_AI_MODEL='gpt-5-nano'

# Configs
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
# Linux/macOS: document.pdf ou caminho absoluto
# Windows: document.pdf ou C:\caminho\para\document.pdf
PDF_PATH=document.pdf